.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  cursor: pointer;
}

.card__title {
  max-width: 353px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0 0 0;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card__heart-button {
  width: 23px;
  height: 20px;
  background: transparent url(../images/LikeIcon.svg) center no-repeat;
  border: none;
  padding: 0;
  margin: 10px 0 0 0;
  color: rgba(33, 33, 33, 0.4);
  opacity: 0.4;
}

.card__heart-button:hover {
  opacity: 1;
  cursor: pointer;
}
.card__heart-button_active {
  background-image: url(../images/UnionHeart.svg);
  opacity: 1;
}
.card__heart-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent url(../images/trashCan.svg);
  border: none;
}

.card__delete-button:hover {
  background: url(../images/trashHover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 235px;
  }

  .card__content {
    max-width: 288px;
  }

  .card {
    align-items: center;
  }
}
